*{
    padding: 0px;
    margin: 0px;
}
.navback{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 555;
    box-shadow: 0 0 30px rgb(127 137 161 / 30%);
}
.navback .navbar .navbar-brand img{
    height: 26px;
}
.navback .navbar{
    width: 85%;
    margin: auto;
    align-items: center;
    align-content: center;
}
.navback .navbar .collapse ul li a{
    color: #0b62be !important;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}
.navback .navbar .collapse ul li a:hover{
    color: #007bff !important;
}
#babyblue{
    color: #007bff !important;
}
.sec1{
    background-image: url(../images/hero-bg.png) ;
    padding: 200px 0 120px;
    width: 100%;
    background-size: cover;
    
}
.sec1 .parent1{
    margin: auto;
    width: 85%;
}
.sec1 .parent1 div{
    width: 100%;
}
.sec1 .parent1 div img{
    width: 100%;
    margin-right: auto;
}
.sec1 .parent1 div h2{
    color: #fff;
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    width: 75%;
}
.sec1 .parent1 div h2 span{
    color: #74b5fc;
    text-decoration: underline;
}
.btn-get-started{
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff;
    padding: 10px 32px;
    border-radius: 50px;
    font-weight: 600;
    margin: 0 20px 20px 0;
    transition: all 0.5s;
}
.btn-get-started:hover{
    background: 0 0;
    border-color: #fff;
    color: #fff;
    text-decoration: none;
}
.btn-services {
    color: white;
    border: 2px solid white;
    padding: 10px 32px;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.5s;
}
.btn-services:hover{
    text-decoration: none;
    color: white;
    background-color: #007bff;
   border: 2px solid #007bff;
}

.sec2{
    width: 85%;
    padding: 60px 0;
    margin: auto;
}
.sec2 div h3{
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    margin: 0 0 20px;
}
.sec2 div .pp{
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
}
.sec2 .parent2{
    width: 100%;
   
}
.sec2 .parent2 .parent21{
    width: 50%;

}
.sec2 .parent2 .parent21 p{
    line-height: 26px;
    margin: 0 0 30px;
    width: 95%;
    text-align: left;
    font-size: 16px;
    color: black;
}
.sec2 .parent2 .parent22{
    width: 50%;
}
.sec2 .parent2 .parent22 img{
    width: 100%; 
}

.parent21 .d-flex:hover .pi {
    background-color: #007bff;
    transition: all 0.5s;
   
}
.parent21 .d-flex:hover .pi i{
    color: white;
}
.parent21 .d-flex:hover h4 a{
    text-decoration: none;
}
.parent21 .d-flex div{
    margin-left: 20px;
}

.parent21 .d-flex .pi{
    width: 100px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #007bff;
    margin-left: 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent21 .d-flex .pi i{
    font-size: 24px;
    color:  #007bff;
}
.sec3{
    width: 85%;
}
.sec3 .w-50{
    padding: 0px 15px 0px 15px;
}
.sec4{
    width: 85%;
    margin: auto;
    margin-top: 50px;
}
.sec5{
    margin-top: 150px ;
    background: #ecf5ff;
    height: 1050px;
    width: 100%;
}
.sec5 .sec51{
    width: 85%;
    margin: auto;
    
}
.sec5 .sec51 .header51{
    padding: 50px;
}
.sec5 .sec51 .header51 h3{
    
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
}
.sec5 .sec51 .header51 p{
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;

}
.sec5 .sec51 div .d-flex div i{
    font-size: 60px;
    margin-right: 20px;
    margin-top: 20px;
}
.sec5 .sec51 div .d-flex{
    background-color: white;
    width: 350px;
    height: 180px;
    margin: 30px 20px;
    margin-top: 20px;
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px;
}
#alam{
   justify-content: center;
}
.sec6{
    height: 850px;
    background-color: #004a99;
    width: 100%;
}
.sec6 .sec61{
    width: 85%;
}
.sec6 .sec61 div {
    padding: 40px 0px;
}
.sec6 .sec61 div h3{
    font-size: 36px;
    text-align: center;
    font-weight: 500;
}
.sec6 .sec61 div p{
    padding-bottom: 60px;
    text-align: center;
}
.sec6 .sec61 .d-flex{
    width: 100%;
}
.sec6 .sec61 .d-flex div{
    width: 30%;
    margin: 0px 20px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #00458f;
}
.sec6 .sec61 .d-flex div .card-body{
    padding: 1.25rem;
    width: 100%;
    margin: auto;
}
@media(max-width:750px){
    .sec1{
        background-position: center center;
    }
.sec1 .parent1 {
    display: block  !important;
    width: 90%;
    margin: auto;
}
.sec1 .parent1 .zz{
    width:100% !important;
}
.sec1 .parent1 .zz h2{
    width: 100%;
    text-align: center; 
}
.sec1 .parent1 .zz div{
    width: 75%;
    margin: auto;
}
.sec1 .parent1 .zz div a{
    display: block;
    text-align: center;
    width: 100%;
}
.sec2{
    width: 100% !important;
}
.sec2 #pp1{
    width: 90%;
    margin: auto;
}
.sec2 #pp1 p{
    width: 100%;
}
.sec2 .parent2{
    display: block !important;
    width: 80% !important;
    margin: auto;
}
.sec2 .parent2 .parent21{
    width: 100% !important;
}
.sec2 .parent2 .parent21 p{
    width: 100% !important;
    text-align: center;
}
.parent21 .d-flex .pi{
    width: 250px;
}
.parent22{
    width: 100% !important;
}
.sec3{
    display: block !important;
    width: 100% !important;
}
.sec31{
    width: 90% !important;
    margin: auto;
    margin-bottom: 50px;
}
.sec3 .sec31 img{
    width: 100%;
}
.sec3 .sec32 {
    width: 95% !important;
    margin: auto;
}
.sec4{
    display: block !important;
    width: 100% !important;
}
.sec41{
    width: 90% !important;
    margin: auto;
}
.sec42{
    width: 90% !important;
}
.sec5{
    width: 100% !important;
    height: 1700px;
}
.sec5 .sec51{
    width: 90% !important;
}
.sec5 .sec51 .header51{
    width: 100% !important;
}
.sec5 .sec51 .header51 p{
    width: 100% !important;
}
.sec6{
    width: 100% !important;
    height: 1650px;
}
.sec6 .sec61{
    width: 100% !important;
}
.sec6 .sec61 div{
    width: 90% !important;
    margin: auto;
}
.sec6 .sec61 div p{
    width: 100% !important;
}
.sec6 .sec61 .d-flex{
    display: block !important;
}
.sec6 .sec61 .d-flex div{
    margin-bottom: 20px;
}

}